@font-face {
  font-family: kumbh;
  src: url(../fonts/Kumbh_Sans/KumbhSans-VariableFont_YOPQ\,wght.ttf);
}

*, *::after, *::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: kumbh;
}

.container {
  width: 375px;
  height: 900px;
  margin: 0 auto;
}

.header {
  position: relative;
  height: 68px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav {
  height: 900px;
  width: 250px;
  background-color: #FFF;
  position: absolute;
  padding-top: 25px;
  z-index: 1;
  top: 0;
  left: 0;
  display: none;
}

.nav a {
  text-decoration: none;
  font-size: 18px;
  display: block;
  color: #1D2026;
  margin-bottom: 20px;
  margin-left: 25px;
}

.nav::before {
  content: "";
  width: calc(375px - 250px);
  height: 900px;
  background: rgba(0, 0, 0, 0.8);
  position: absolute;
  top: 0;
  left: 250px;
}

.close-icon {
  margin-left: 25px;
  margin-bottom: 54px;
  cursor: pointer;
}


.header__content {
  width: 327px;
  height: 24px;
  display: flex;
  align-items: center;
}

.hambuger {
  margin-right: 16px;
  cursor: pointer;
}

.header__logo {
  margin-right: auto;
}

.shopping-cart {
  margin-right: 22px;
  cursor: pointer;
  position: relative;
}

.shopping-cart__count {
  width: 19px;
  height: 13px;
  background: #FF7E1B;
  color: #FFF;
  border-radius: 6.5px;
  font-size: 10px;
  text-align: center;
  position: absolute;
  left: 10px;
  top: -5px;
  display: none;
}

.avatar {
  width: 24px;
  cursor: pointer;
  border-radius: 50%;
}

.avatar:hover {
  border: 1px solid #FF7E1B;
}

.slide-deck {
  height: 300px;
  position: relative;
}

.slide-deck__img {
  width: 100%;
  height: 100%;
}

.slide-deck__selector {
  display: flex;
  position: absolute;
  top: 130px;
  cursor: pointer;
}

.previous, .next {
  width: 40px;
  height: 40px;
  background: #FFF;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.previous {
  margin-left: 16px;
}

.next {
  margin-left: calc(319px - 16px - 40px);
}

.main {
  position: relative;
}

.cart {
  position: absolute;
  width: 360px;
  height: 256px;
  background: #FFF;
  border-radius: 10px;
  margin: 8px;
  top: 0;
  visibility: hidden;
}

.open-cart {
  visibility: visible;
}

.cart__header {
  font-size: 16px;
  color: #1D2026;
  border-bottom: 1px solid #E4E9F2;
  padding: 24px 302px 23px 24px;
}

.cart__content {
  color: #69707D;
  font-size: 16px;
  height: 189px;
}

.cart__content--empty {
  display: block;
  text-align: center;
  line-height: 189px;
}

.cart__content--items {
  display: none;
}

.items {
  width: 312px;
  margin: 24px auto;
}

.item {
  display: flex;
  height: 52px;
  align-items: center;
}

.item__image {
  width: 50px;
  border-radius: 4px;
}

.item__text {
  margin-left: 16px;
}

.item__total {
  color: #1D2026;
  font-size: 16px;
  font-weight: 700;
}

.checkout {
  width: 312px;
  height: 56px;
  border: none;
  border-radius: 10px;
  margin: 0 24px;
  background: #FF7E1B;
  color: #FFF;
  font-size: 16px;
  cursor: pointer;
}

.item__delete {
  cursor: pointer;
}

.main__content {
  width: 327px;
  margin: 0 auto;
}

.main__content--header {
  color: #FF7E1B;
  font-size: 12px;
  letter-spacing: 1.85px;
  font-weight: 700;
  padding-top: 24px;
}

.main__content--secondary {
  font-size: 28px;
  color: #1D2026;
  font-weight: 700;
  margin: 16px auto 15px;
}

.main__content--text {
  color: #69707D;
  font-size: 15px;
  margin-bottom: 24px;
}

.cost {
  height: 34px;
  display: flex;
  align-items: center;
}

.price {
  font-size: 28px;
  font-weight: 700;
  margin-right: 23px;
}

.discount {
  background: #FFEEE2;
  color: #FF7E1B;
  height: 27px;
  width: 51px;
  border-radius: 6px;
  font-size: 16px;
  font-weight: 700;
  text-align: center;
  line-height: 27px;
  margin-right: auto;
}

.retail-price {
  color: #B6BCC8;
  font-size: 16px;
  font-weight: 700;
  text-decoration: line-through;
}

.quantity {
  height: 56px;
  background: #F6F8FD;
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 24px auto 16px;
}

.plus, .minus {
  cursor: pointer;
}

.minus {
  margin-left: 24px;
}

.plus {
  margin-right: 24px;
}

.quantity__text {
  font-size: 16px;
  font-weight: 700;
}

.cart-btn {
  width: 100%;
  height: 56px;
  color: #FFF;
  background: #FF7E1B;
  border: none;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  font-weight: 700;
  cursor: pointer;
}

.cart-btn__img {
  margin-right: 15.5px;
}

.cart-btn:hover {
  background: #FFAB6A;
}

@media screen and (min-width: 1110px) {
  .container {
    width: 1110px;
    height: 740px;
    margin-top: 28px;
  }

  .header {
    height: 50px;
    border-bottom: 1px solid #E4E9F2;
    margin-bottom: 90px;
  }

  .header__content {
    width: 100%;
    align-items: center;
    margin-bottom: 34px;
  }

  .header__logo {
    margin-right: 56.5px;
  }

  .hambuger, .close-icon {
    display: none;
  }

  .nav {
    display: block;
    position: static;
    width: 397px;
    height: 26px;
    padding: 0;
    display: flex;
    margin-right: 401px;
    justify-content: space-between;
    align-items: center;
  }

  .nav::before {
    display: none;
  }

  .nav a {
    margin: 0;
    font-size: 15px;
    color: #69707D;
  }

  .shopping-cart img {
    margin-right: 47px;
  }

  .avatar {
    width: 50px;
  }

  .main {
    display: flex;
    height: 100%;
    width: 100%;
    margin: 0 auto;
    justify-content: space-around;
  }

  .cart {
    top: -110px;
    right: -5px;
    box-shadow: 0 0 20px #ccc;
  }

  .slide-deck__img {
    width: 445px;
    height: 445px;
    border-radius: 15px;
  }

  .slide-deck__selector {
    display: none;
  }

  .main__content {
    margin: 0;
    width: 445px;
  }

  .main__content--header {
    padding: 0;
    margin-top: 62px;
    font-size: 13px;
  }

  .main__content--secondary {
    font-size: 44px;
    margin: 24px auto 32px;
  }

  .main__content--text {
    font-size: 16px;
  }

  .cost {
    height: 68px;
    flex-wrap: wrap;
  }

  .retail-price {
    width: 100%;
  }

  .quantity {
    margin: 0;
    width: 157px;
    margin-right: 16px;
  }

  .cart-btn {
    width: 272px;
  }

  .cart-controls {
    display: flex;
    margin-top: 32px;
  }

  .slide-deck__thumbnails {
    width: 445px;
    height: 88px;
    display: flex;
    margin-top: 32px;
  }

  .thumbnail {
    width: 88px;
    margin-right: 31px;
    border-radius: 10px;
    overflow: hidden;
    cursor: pointer;
  }

  .thumbnail:last-child {
    margin: 0;
  }

  .thumbnail > img {
    width: 100%;
    border-radius: 10px;
  }

  .thumbnail:hover > img {
    opacity: 0.5;
  }

  .active-thumbnail {
    border: 3px solid #FF7E1B;
  }

  .active-thumbnail > img {
    opacity: 0.5;
    transform: scale(1.03);
  }
  
}